.page{
	width: 100%;
	padding: 0 5px;
}

.page > div,
.section{
	margin: 5px 0;
}

.absoluteCentered{
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-10%, -50%);
}

.centeringContainer{
	text-align: center;
}

i{
	margin-right: 5px;
}

.flex{
	@extend .fullWidthPanel;
	display: flex;
}

.fullWidthPanel,
.fullWidth{
	width: 100%;
}

.flex .oneThirdPanel{
	width: 33.33%;
}

.flex .twoThirdsPanel{
	width: 66.66%;
}

a{
	cursor: default;
	text-decoration: underline;
	color: $accentFont;
}

input,
select{
	width: 80%;
	padding: 0;
	margin: 10px 0;
	height: 40px;
	border-radius: 15px;
}

button{
	margin-right: 10px;
	color: #fff;
	background-color: $submitButtonColor;
	width: 175px;
	border: 0;
	border-radius: 5px;
	height: 40px;
	border: #fff 1px solid;
}

button:focus{
	outline: 0;
}

.collapse,
.hidden{
	display: none;
}

.headerButton{
	display: inline-block;;
	width: 100%;
	height: 100%;

	&.collapsed{
		background-color: darken($mainAccent, 25%)
	}

	&.expanded{
		background-color: $mainAccent
	}
}

.largeOnly{
	display: none;

	@media screen and (min-width: $break-large){
		display: inherit;
	}
}

.panel{
	padding: 10px;
}
