.page{
	width: 100%;
	padding: 0 5px;
}

.page > div,
.section{
	margin: 5px 0;
}

.absoluteCentered{
	position: fixed;
	top: 50%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-10%, -50%);
}

.centeringContainer{
	text-align: center;
}

i{
	margin-right: 5px;
}

.threeColumns{
	@extend .flex;
	width: 100%;

	div{
		margin: 5px;
		padding: 5px 10px;
	}

	> div{
		width: 33.33%;
	}
}

.fourColumns{
	@extend .flex;

	> div{
		margin: 0;
		padding: 5px 10px;
		width: 25%;
	}

	>div.two{
		width: 50%;
	}
}

.flex{
	@extend .fullWidthPanel;
	display: flex;
}

.fullWidthPanel,
.fullWidth{
	width: 100%;
}

.flex .oneThirdPanel{
	width: 33.33%;
}

.flex .twoThirdsPanel{
	width: 66.66%;
}

a{
	cursor: default;
	text-decoration: underline;
	color: $accentFont;
}

input,
select{
	width: 80%;
	padding: 0;
	margin: 10px 0;
	height: 40px;
	border-radius: 15px;
}

button{
	margin-right: 10px;
	color: #fff;
	background-color: $submitButtonColor;
	width: 175px;
	border: 0;
	border-radius: 5px;
	height: 40px;
	border: #fff 1px solid;
}

button:focus{
	outline: 0;
}

.collapse,
.hidden{
	display: none;
}

.headerButton{
	display: inline-block;;
	width: 100%;
	height: 100%;

	&.collapsed{
		background-color: darken($mainAccent, 25%)
	}

	&.expanded{
		background-color: $mainAccent
	}
}

.largeOnly{
	display: none;

	@media screen and (min-width: $break-large){
		display: inherit;
		
		img{
			max-height: 600px;
			max-width: auto;
		}
	}
}

.panel{
	padding: 10px;
}


.item{
	background-color: #333;
	margin-bottom: 10px;
	padding: 0;
	border: solid;
	border-color: #555;
	border-radius: 7px;

	h3{
		background-color: $mainAccent;
		color: #fff;
		padding: 0;
		margin: 0;
		margin-bottom: 5px;
		font-weight: normal;
	}

	.tabBody,
	.itemBody{
		margin: 15px 10px;
	}

	.itemButtons{
		@extend flex;

		:first-child{
			background-color: $buttonColor;
			border-radius: 0 0 0 5px;
		}

		:last-child{
			border-radius: 0 0 5px 0;
		}

		a:only-child{
			width: 100%;
			border-radius: 0 0 5px 5px;
		}

		a{
			width:50%;
			background-color: $secondaryButtonColor;
			color: #fff;
			padding: 8px 12px;
			font-weight: bold;
			border-radius: 0 0 5px 5px;
			text-decoration: none;
			height: 40px;
			text-align: center;
		}
	}
}

.table > div:nth-child(odd){
	background-color: #444344;
}

.small{
	font-size: .75em;
}
