.tabContainer{

	display: flex;


	a.tab{
		text-decoration: none;
	}

	.tab{
		padding: 0 10px;
		background-color: $secondaryBackground;
		border-radius: 5px 5px 0 0;
		border-width: 1px;
		border-color: #777;
		width: auto;
		margin-right: 5px;

			@media screen and (min-width: $break-large){
				padding: 5px 10px;
			}

			@media screen and (min-width: $break-small){
				padding: 10px 20px;
			}

		span{
			@media screen and (min-width: $break-medium){
				margin: 5px 0;
			}

			@media screen and (min-width: $break-small){
				display: none;
			}

			@media screen and (min-width: $break-large){
				display: inline;
				padding: 10px 10px;
			}
		}
	}

	.selectedTab{
		background-color: $accentColor;
		color: $secondaryBackground;
		// border-radius: 5px 25px 0 0;
	}
}

.tabPage{
	padding: 10px;
	border: solid;
	border-width: 1px;
	border-color: $accentColor;
}
