
<div id="addBook">
    <div class="Row">
        <div class="LargeInput FloatLeft">
            <select id="bookSeries" onchange="BookSeriesChanged()"></select>
        </div>
        <div class="FloatLeft SmallInput">
            &nbsp;#
            <input type="text" id="bookIssueNumber" />
        </div>
        <div class="DontFloatOverMe"></div>
    </div>
    
    <div id="addBookInsertablePanel"></div>

    <div class="AlternateRow">
        <div class="LabelCell">
            Notes
        </div>
        <div class="LargeInput">
            <textarea id="bookNotes"></textarea>
        </div>
    </div>
    
    <div class="Row RepeatingItem">
        <input type="checkbox" id="bookIsSpecialCover" /> Is Special Cover
    </div>

    <div class="ButtonPanel">
        <input type="submit" id="saveBookButton" value="Save Book" />
    </div>
    <div class="DontFloatOverMe"></div>

    <div id="addSeriesForBook" style="display:none;">
        @{Html.RenderPartial("_AddSeries");}
    </div>
</div>