@{
    ViewBag.Title = "ComicVine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<ul id="issueList">
    
</ul>

<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: "ComicVine/ComicList",
            success: LoadComicList,
            failure: function() { alert("Failure"); },
            data: { storeDate: "05/01/2013" },
            type: 'GET',
            traditional: true
        });
    });
    
    function LoadComicList(result) {
        $("#issueListTemplate").tmpl({ issues: result.results }).appendTo("#issueList");
    }
</script>

<script id="issueListTemplate" type="text/x-jquery-tmpl">
    {{each(i, issue) issues}}
        <li>${issue.volume.name} #${issue.issue_number}</li>
    {{/each}}
</script>