@{
    ViewBag.Title = "BookSearch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    $(document).ready(function() {
        GetSearchData();

        $("#searchSeriesNameField, #searchIssueNumberField, #searchLocationNameList").each(function() {
            $(this).keyup(function(event) {
                if (event.keyCode == 13) {
                    $("#searchButton").click();
                }
            });
        });

        $(document).tooltip({
            content: function() {
                return "<div class='hereBeDragons'><input type='hidden' id='bookId' value='" + $(this).attr("title") + "'/></div>";
            },
            open: TooltipOpen
        });
    });

    function TooltipOpen(event, ui) {
        var bookId = $("#bookId").val();
        $("#bookId").attr("id", "");

        $.ajax({
            url: "Book/GetSurroundingBooks",
            failure: function () { alert("Failure"); },
            success: LoadSurroundingBooks,
            data: { bookId: bookId },
            type: "GET",
            traditional: true
        });
    }
    
    function LoadSurroundingBooks(result) {
        var books = result.books;
        var content = "<table>";
        for (var i = 0; i < books.length; i++) {
            var book = books[i];
            var locationText = book.Location != null ? book.Location.Name : "";
            var classText = book.Id == result.bookId ? "Highlight" : "";

            content = content + "<tr class='" + classText + "'><td>" + book.Series.Name + "</td><td>" + book.Issue + "</td><td>" + locationText + "</td></tr>";
        }
        content = content + "</table>";

        $(".hereBeDragons").html(content);
    }

    function NewBookLocationChanged() {
        var locationId = $("#locationList option:selected").val();

        if (locationId == "")
            return;

        $("#inventoryStatusList option").each(function() {
            if ($(this).val() == 2 && (locationId == 7 || locationId == 8 || locationId == 9 || locationId == 10 || locationId == 11)) {
                $(this).attr("selected", "selected");
                return;
            } else if ((locationId == 6 || locationId == 1 || locationId == 2 || locationId == 3 || locationId == 4) && $(this).val() == 1) {
                $(this).attr("selected", "selected");
                return;
            }
        });


        $("#wantStatusList option").each(function() {
            if ($(this).val() == 2) {
                $(this).attr("selected", "selected");
                return;
            }
        });

        $("#saveBookButton").focus();
    }
</script>

<div class="Content LeftNavigation">
    <div class="SubSection">
        <div class="Row">
            <div class="LabelCell">
                Series Name
            </div>
            <div>
                <input type="text" id="searchSeriesNameField" onfocus="ClearField('searchSeriesNameField') " />
            </div>
        </div>
        <div class="AlternateRow">
            <div class="LabelCell">
                Issue Number
            </div>
            <div>
                <input type="text" id="searchIssueNumberField" onfocus=" ClearField('searchIssueNumberField') " />
            </div>
        </div>
        <div class="Row">
            <div class="LabelCell">Location</div>
            <div>
                <select id="searchLocationNameList" onfocus=" ClearField('searchLocationNameList') "></select>
            </div>
        </div>
        <div class="ButtonPanel">
            <input type="submit" id="searchButton" value="Search Books" name="searchForm" onclick=" SearchBooks() "/>
        </div>
        <div class="DontFloatOverMe"></div>
    </div>
    
    <div id="locationBookCountPanel" class="SubSection">
        <h3>Inventory</h3>
        <a href="javascript:MoveUpLocations()">Move</a>
        <table id="locationBookCountTable" class="FullWidth">
        </table>
    </div>
</div>

<div class="FloatLeft Content" style="width: auto; min-width: 800px; max-width: 1190px;">
    <div class="SubSection ClearablePanel">
        @{ Html.RenderPartial("_AddBook"); }
    </div>
    <div id="bookSearchResultPanel" class="Content" style="display: none;">
        <table id="bookSearchResultGrid" class="FullWidth">
            <thead>
                <tr>
                    <td></td>
                    <td>Series</td>
                    <td></td>
                    <td>Issue</td>
                    <td>Is Special Cover</td>
                    <td>Notes</td>
                    <td>Status</td>
                    <td>Location</td>
                    <td>Want Status</td>
                    <td>Suggested Location</td>
                    <td></td>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="DontFloatOverMe"></div>
</div>
<div class="DontFloatOverMe`"></div>

@*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! Templates !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*@
<script id="bookSearchResultTemplate" type="text/x-jquery-tmpl">
    {{each(i, Book) Books}}
    <tr class="{{if i % 2 != 0}}AlternateRow{{/if}}">
        <td>
            <a href="javascript:ReadBook(${Id})">Read</a>
        </td>
        <td title="${Id}">${Series.Name} </td>
        <td>
            <a href="javascript:ShowEditPanel('editBookRow${Id}', 'editBookLink${Id}', 'cancelEditLink${Id}')" id="editBookLink${Id}">Edit</a>
            <a href="javascript:HideEditPanel('editBookRow${Id}', 'cancelEditLink${Id}', 'editBookLink${Id}')" id="cancelEditLink${Id}" style="display:none;">Cancel</a>
        </td>
        <td>${Issue}</td>
        <td><div class="RepeatingItem"><input type="checkbox" readonly="readonly" disabled="disabled" {{if IsSpecialCover == true}}checked="checked"{{/if}}/></div></td>
        <td>${Notes}</td>
        <td>${StatusDisplay}</td>
        <td>
            {{if Location != null}}
            ${Location.Name}
            {{/if}}
        </td>
        <td>
            {{if Want != null}}
            ${Want.StatusDisplay}
            {{/if}}
        </td>
        <td class="SmallInput">
            <select id="searchResultLocationList${Id}">
                <option></option>
                {{each(p, location) Locations}}
                <option value="${location.Id}" {{if NextLocation != null && NextLocation.Id == location.Id}}selected="selected"{{/if}}>${location.Name}</option>
                {{/each}}
            </select>
        </td>
        <td>
            <a href="javascript:MoveBookFromSearchResults(${Id})" style="font-weight: bold; font-size: large;">Move</a>
        </td>
    </tr>
    <tr id="editBookRow${Id}" style="display:none;">
        <td></td>
        <td></td>
        <td></td>
        <td class="SmallInput">
            <input id="issueNumberTextBox" value="${Issue}" />
        </td>
        <td class="RepeatingItem">
            <input type="checkbox" id="isSpecialIssueCheckbox" {{if IsSpecialCover == true}}checked="checked"{{/if}}/>
        </td>
        <td class="">
            <textarea id="notes">${Notes}</textarea>
        </td>
        <td class="SmallInput">
            <select id="statusLists">
                <option></option>
                {{each(i, status) InventoryStatus}}
                <option value="${Key}" {{if Value == StatusDisplay}}selected="selected"{{/if}}>${Value}</option>
                {{/each}}
            </select>
        </td>
        <td></td>
        <td class="SmallInput">
            <select>
                <option></option>
                {{each(i, wantStatus) WantStatuses}}
                <option value="${wantStatus.Key}" {{if Want.StatusDisplay == wantStatus.Value}}selected="selected"{{/if}}>${wantStatus.Value}</option>
                {{/each}}
            </select>
        </td>
        <td class="ButtonPanel">
            <input type="submit" value="Save Book" onclick="SaveExistingBook('editBookRow${Id}')" />
        </td>
    </tr>
    {{/each}}
</script>

<script id="addBookAdditionalTemplate" type="text/x-jquery-tmpl">
    <div class="AlternateRow">
        <div class="LabelCell">
            Location
        </div>
        <div>
            <select id="locationList" onchange=" NewBookLocationChanged() ">
                {{tmpl({Locations: Locations}) "#locationListTemplate"}}
            </select>
        </div>
    </div>
    <div class="Row">
        <div class="LabelCell">
            Want Status
        </div>
        <div>
            <select id="wantStatusList">
                <option></option>
                {{each(i, wantStatus) WantStatuses}}
                <option value="${wantStatus.Key}">${wantStatus.Value}</option>
                {{/each}}
            </select>
        </div>
    </div>
    <div class="AlternateRow">
        <div class="LabelCell">
            Inventory Status
        </div>
        <div>
            <select id="inventoryStatusList">
                <option></option>
                {{each(i, status) InventoryStatus}}
                <option value="${Key}">${Value}</option>
                {{/each}}
            </select>
        </div>
    </div>
</script>

<script id="locationBookCountTemplate" type="text/x-jquery-tmpl">
    {{each(i, count) Counts}}
    <tr class="{{if i % 2 != 0}}AlternateRow{{/if}}">
        <td>${Key}</td>
        <td>${Value}</td>
    </tr>
    {{/each}}
</script>