// $mainFont: #DEB887;
// $mainAccent: #5F0494;

// $accentFont: #CD5C5C;

// $buttonColor: #0306A6;
// $secondaryButtonColor: #B80C09;

// $mainFont: #F9EBBC;

$mainFont: #FFF;
$mainAccent: #5C4D88;

$accentFont: #EF9616;

$submitButtonColor: #521447;

$buttonColor: #800B00;
$secondaryButtonColor: #F5AD05;

$accentColor: #F9EBBC;

$secondaryBackground: #555;
